.nav-btn:active {
    background-color:  #EFEBFF;
    color: #633CFF;
}

.input-page:hover, .input-page:active{
    box-shadow: 0px 0px 32px 0px #633CFF40;
    border:1px solid #633CFF;

}


select:hover, select:active{
    box-shadow: 0px 0px 32px 0px #633CFF40;
    border:1px solid #633CFF;
}


@media (max-width:651px){
    .input-page{
    margin: 0;
    }
}